body {
background: #ffffff;
}

.main {
  width: 100%;
}


.contient {
  width: 800px;
  margin: 0 auto;
}


#sound_source_div {
  width: 600px;
  height: 353px;
  margin: 0 auto;
  padding: 0;
}


#sound_source_area_listener {
  opacity: 0;
}


#sound_source_guide {
  opacity: 0.5;
}


.sound_source {
  margin: 0;
  padding: 0;
  position: absolute;
}


#file_selecter {
  display: none;
}


#selected_filename {
  display: inline;
}


.audio_button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  opacity: 0.8;
}


.audio_button:hover {
  opacity: 1.0;
}

.audio_button:active {
  position: relative;
}


button img {
  display: block;
}


#exec_button {
  margin: 0;
  padding: 0;
  display: block;
}


#audio_contorller {
  overflow: hidden;
}


.audio_controller_box {
  float: left;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}


#audio_controller_bar {
  float: right;
  width: 500px;
  height: 70px;
}


#audio_volume_label {
  display: inline-block;
  width: 390px;
  text-align: right;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}


#audio_volume {
  width: 100px;
  float: right;
  margin-bottom: 20px;
}


#audio_time {
  clear:both;
  text-align: right;
  font-size: 10pt;
  margin: 0;
  padding: 0;
}


#exec_button {
  text-decoration: none;
  font-size: 16pt;
  width: 140px;
  color: #ffffff;
  background: #505050;
  border: 0px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}


#exec_button:hover {
  background: #202020;
}


#file_selecter_div{
  padding-top: 20px;
  padding-bottom: 20px;
}


#file_selecter_label {
  font-size: 16pt;
  text-align: center;
  color: #ffffff;
  background: #505050;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}


#file_selecter_label:hover {
  background: #202020;
}


#selected_filename {
  margin-left: 10px;
}


#downlaod_notice {
  clear: both;
  text-align: center;
}